.gastoBeneficioContenedor {
  position: relative;
  // border: 1px solid red;
}

.damage,
.beneficio,
.gasto {
  position: absolute;
  // top: 50%;
  // left: 50%;
  animation: 1 animacionDinero 2s;
  font-weight: bold;
  z-index: 999;
}

.beneficio {
  color: rgb(251, 255, 14);
}

.damage,
.gasto {
  color: red;
}

.noRaton{
  pointer-events:none;
}


.centrar{
  top: 50%;
  left: 50%;
}



@keyframes animacionDinero {
  80% {
    opacity: 0.7;
    transform: translate(0, -50px);
  }
  100% {
    transform: translate(0, -60px);
    opacity: 0.2;
  }
}
