$base-color: #e161a1;
$base-color-dark: darken($base-color, 30%);
$base-color-lingten: lighten($base-color, 30%);

$colorPrincipal: rgba(11, 86, 179, 0.948);


// $color-secundario: rgb(244, 255, 214);
// $color-secundario: rgb(255, 243, 168);
 $color-secundario: rgb(255, 247, 197);
$padding: 1rem;
$margin: 1rem;


@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

//$fuente-principal: "Lexend Deca", sans-serif;

$fuente-principal: 'VT323', monospace;